<div data-ng-controller="imageUploadController">
    <div class="page-header">
        <h3>FileAPI Upload Sample</h3>
    </div>

    <form class="form-inline">
        <select class="form-control" data-ng-model="category" data-ng-change="reload()">
            <option value="default">default</option>
            <option value="bar">bar</option>
            <option value="piyo">piyo</option>
            <option value="mega">mega</option>
            <option value="saga">saga</option>
        </select>
    <span class="btn btn-success btn-sm" onclick="$('#fileupload').trigger('click')">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
    </span>
        <input id="fileupload" type="file" name="files[]" multiple style="display: none">
        <a class="btn btn-success btn-sm" data-ng-click="reload()">reload</a>
    </form>

    <script type="text/ng-template" id="uploadModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload Confirm!</h3>
        </div>
        <div class="modal-body">
            Selected: <b>{{ image.file}}</b>
            <div>
                <img style="height: 200px" data-ng-src="{{image.data}}" alt=""/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="upload()">UPLOAD</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <p>{{category}}</p>
</div>

